<div class="container">
  <h1 style="text-align: center">Designs</h1>
  <div class="row">
    <span class="p-input-icon-left search">
      <i class="pi pi-search"></i>
      <input
        pInputText
        placeholder="Search"
        class="transition-all transition-duration-300 transition-ease-in-out"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
      />
    </span>
    <p-button
      class="new-button"
      icon="pi pi-pen-to-square"
      label="New"
      (onClick)="show()"
    />
  </div>
  <div class="designs-grid">
    <cw-design-card
      *ngFor="let design of designs; trackBy: trackBy"
      [design]="design"
      (deletedItem)="deletedItem($event)"
    ></cw-design-card>
  </div>
</div>
