<div class="flex flex-column gap-5 container w-22rem">
  <div
    class="title"
    [class.hoverable]="imageSrc"
    [style.background-color]="image ? 'rgba(0, 0, 0, 0.6)' : 'none'"
  >
    {{ name ? name : "New Design" }}
  </div>
  <div
    class="header"
    [style.background-image]="imageSrc ? 'url(' + imageSrc + ')' : ''"
  ></div>
</div>
<div
  class="flex flex-column gap-5 container px-5 py-2 justify-content-center mx-auto mt-4"
>
  <p-floatLabel>
    <input pInputText id="name" [(ngModel)]="name" />
    <label for="name">Name</label>
  </p-floatLabel>
  <p-floatLabel>
    <p-inputNumber id="price" [(ngModel)]="price" />
    <label for="price">Price</label>
  </p-floatLabel>
  <p-dropdown
    [options]="categories"
    [(ngModel)]="category"
    placeholder="Select a Category"
    class="w-full"
  />
  <p-dropdown
    [options]="types"
    [(ngModel)]="type"
    placeholder="Select a Type"
    class="w-full"
  />
  <p-button
    class="upload-button"
    label="Upload Images"
    icon="pi pi-upload"
    (onClick)="openImageUploadDialog()"
  ></p-button>
  <p-button
    icon="pi pi-check"
    [label]="design ? 'Update' : 'Create'"
    [loading]="loading"
    class="align-self-center"
    (onClick)="design ? updateDesign() : createDesign()"
  />
  <p-button
    *ngIf="design != undefined"
    icon="pi pi-trash"
    severity="danger"
    label="Delete"
    [loading]="loading"
    class="align-self-center"
    (onClick)="deleteDesign($event)"
  />
  <p-confirmDialog />
</div>
